.boton-main {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    a {
        align-items: center;
        @include botonMain ($colorText: black);
        text-decoration: none;
        font-size: 35px;
        font-style: italic;
        font-weight: bold;
    }
}
  
.btn-primary {
    align-items: center;
    background-color: map-get($colores, colorBgButtonMain) !important;
    border: none !important;
}
